@media (prefers-color-scheme: dark) {
    :root {
        --user-preferred-background: #282828;
        --user-preferred-tranparent-background: #2828285c;
        --user-preferred-text: #ffffff;
        --user-preferred-hr: #ffffff15;
        --user-preferred-separator: #ffffff35;
        --user-preferred-gray-highlight: #8c8c8c;
        --user-preferred-gray-underlay: #696969;
        --user-preferred-diff-background: #303030;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --user-preferred-background: #ffffff;
        --user-preferred-tranparent-background: #ffffff5c;
        --user-preferred-text: #000000;
        --user-preferred-hr: #00000015;
        --user-preferred-separator: #00000035;
        --user-preferred-gray-highlight: #313131;
        --user-preferred-gray-underlay: rgb(159, 159, 159);
        --user-preferred-diff-background: #f2f2f3;
    }
}

:root {
    --background-color-light: #f2f2f3;
    --background-color-light-rgb: rgb(242, 242, 243);
    --background-color-dark: #000000;
    --background-color-dark-rgb: rgb(0, 0, 0);
    --background-color-protrude-light: #ffffff;
    --background-color-protrude-dark: #1b1b1b;
    --background-color-protrude-hover-light: #fafafa;
    --background-color-protrude-hover-dark: #2a2a2a;
    --background-color-popover-light: rgba(247, 247, 247, 0.80);
    --background-color-popover-dark: rgba(37, 37, 37, 0.8);
    --background-color-popover-hover-light: rgba(226, 226, 226, 0.679);
    --background-color-popover-hover-dark: rgba(55, 55, 55, 0.85);
    --background-accent-color-light: #1a1a1a30;
    --background-accent-color-dark: #ffffff30;
    --font-color-light: #010101;
    --font-color-light-rgb: rgb(1, 1, 1);
    --font-color-dark: #ffffff;
    --font-color-dark-rgb: rgb(255, 255, 255);
    --font-color-gray: #868686;
    --border-color-light: #1616162c;
    --border-color-dark: #b0b0b02c;
    --featured-color-light: #981717;
    --featured-color-dark: #e45454;
    --featured-color-hover-light: #e45454;
    --featured-color-hover-dark: #981717;
    --featured-color-active-light: #986b17;
    --featured-color-active-dark: #e45454;
    --functional-color-light: #007AFF;
    --functional-color-dark: #0A84FF;
    --color-grey-light: #808080;
    --color-grey-dark: #616161;
    --shadow-color-light: #00000050;
    --shadow-color-dark: #ffffff50;
    --shadow-color-light-fewer: #00000015;
    --shadow-color-dark-fewer: #ffffff15;
    --color-green: #30d158;
    --nav-color-dark: var(--background-color-dark);
    --nav-color-light: var(--background-color-protrude-light);
    --href-color: rgba(0, 162, 255, 0.5);
    --highlight-color-light: #ffffff86;
    --highlight-color-dark: #ffffffed;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --background-color-rgb: var(--background-color-dark-rgb);
        --background-color-protrude: var(--background-color-protrude-dark);
        --font-color: var(--font-color-dark);
        --font-color-rgb: var(--font-color-dark-rgb);
        --border-color: var(--border-color-dark);
        --featured-color: var(--featured-color-dark);
        --featured-color-hover: var(--featured-color-hover-dark);
        --featured-color-active: var(--featured-color-active-dark);
        --background-color-protrude-hover: var(--background-color-protrude-hover-dark);
        --color-grey: var(--color-grey-dark);
        --background-color-popover: var(--background-color-popover-dark);
        --background-accent-color: var(--background-accent-color-dark);
        --background-color-popover-hover: var(--background-color-popover-hover-dark);
        --shadow-color: var(--shadow-color-dark);
        --shadow-color-fewer: var(--shadow-color-dark-fewer);
        --nav-color: var(--nav-color-dark);
        --functional-color: var(--functional-color-dark);
        --highlight-color: var(--highlight-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --background-color-rgb: var(--background-color-light-rgb);
        --background-color-protrude: var(--background-color-protrude-light);
        --font-color: var(--font-color-light);
        --font-color-rgb: var(--font-color-light-rgb);
        --border-color: var(--border-color-light);
        --featured-color: var(--featured-color-light);
        --featured-color-hover: var(--featured-color-hover-light);
        --featured-color-active: var(--featured-color-active-light);
        --background-color-protrude-hover: var(--background-color-protrude-hover-light);
        --color-grey: var(--color-grey-light);
        --background-color-popover: var(--background-color-popover-light);
        --background-accent-color: var(--background-accent-color-light);
        --background-color-popover-hover: var(--background-color-popover-hover-light);
        --shadow-color: var(--shadow-color-light);
        --shadow-color-fewer: var(--shadow-color-light-fewer);
        --nav-color: var(--nav-color-light);
        --functional-color: var(--functional-color-light);
        --highlight-color: var(--highlight-color-light);
    }
}

body::-webkit-scrollbar {
    display: none;
}

html {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

html:not(.nosmooth) {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    background-color: var(--user-preferred-background) !important;
    color: var(--user-preferred-text) !important;

    * {
        max-width: 100%;
    }
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

*::selection {
    background: #00b3ff3f;
    color: var(--user-preferred-text);
}

.nowrap {
    white-space: nowrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-center {
    width: 100%;
    text-align: center;
}

a>button,
.btn {
    margin-top: 1rem;
    font-size: .9rem;
    padding: .8rem 1.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--user-preferred-text) !important;
    color: var(--user-preferred-background) !important;
    text-decoration: none;
    transition: .3s;
    user-select: none;
    -webkit-user-drag: none;
}

.horizontal-break {
    width: 100%;
    height: 1px;
}

a>button:hover,
.btn:hover {
    background: rgb(66, 66, 66);
    transform: translateY(-1px);
}

@media (prefers-color-scheme: dark) {

    a>button:hover,
    .btn:hover {
        background: rgb(213, 213, 213);
        transform: translateY(-1px);
    }
}

a>button.more,
.btn.more {
    background: var(--user-preferred-text);
    color: var(--user-preferred-background) !important;
    font-weight: 400;
    font-size: .9rem;
    padding: .8rem 1.2rem;
    border-radius: 25px;
    transition: .3s;
}

h2.larger {
    font-size: 3rem !important;
}

h2.bold {
    font-weight: 700 !important;
}

.hr {
    width: 70%;
    height: 1px;
    background: var(--user-preferred-hr);
    margin: 1rem auto;
}

.dots::after {
    content: '. . .';
    display: block;
    font-size: 4rem;
    font-family: Helvetica;
    height: 1rem;
    transform: translateY(-4rem);
    text-align: center;
    margin: 2rem;
    color: var(--user-preferred-separator);
}

.section.top {
    background-image: url('/img/designs/light.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    height: calc(var(--height) + 6.5rem);
    position: relative;
}

.section.top *::selection {
    background: #00b3ff1e;
    color: #fff;
}

.top.section.shorter {
    height: 15vh;
}

.header.linear-color {
    font-size: 2rem;
    font-weight: 200;

    b {
        background: linear-gradient(90deg, #1a5ea5, #2ee5c04a);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }
}

.intro-words {
    position: absolute;
    top: max(20%, 10vw);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    min-width: 60%;

    .upperleft {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 4rem;
        font-weight: 900;
        background: linear-gradient(90deg, #ff8a00, #e52e71);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .center {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 4rem;
        font-weight: 700;
        background: linear-gradient(90deg, #fffb00, #cd2ee5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-center {
        left: -2.5%;
    }

    .lowerright {
        position: absolute;
        right: 0;
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 500;
        opacity: 0;
        transition: 1s;

        .larger.linear-color {
            font-size: 2.5rem;
            font-weight: 900;
            background: linear-gradient(114.9deg, #00FF29 -45.32%, #999999 121.29%, #0085FF 121.29%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.noColoredText,
.noColoredText * {
    background: var(--user-preferred-text) !important;
    background-clip: text !important;
}

.image {
    min-width: 50%;
    max-width: 300px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        user-select: none;
        -webkit-user-drag: none;
        max-width: 100%;
        border-radius: 17px;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.3);
    }
}

.description {
    min-width: 45%;
    transform: translateY(-2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 0;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: rgb(155, 155, 155);
        text-align: center;
        padding: 0 1rem;
    }

    a {
        color: var(--user-preferred-text);
    }
}

.color-black,
.color-black * {
    color: black !important;
}

.color-white,
.color-white * {
    color: white !important;
}


.color-gray,
.color-gray * {
    color: rgb(173, 173, 173) !important;
}

.color-lighter-gray,
.color-lighter-gray * {
    color: rgb(200, 200, 200) !important;
}

@media (prefers-color-scheme: dark) {

    .color-lighter-gray,
    .color-lighter-gray * {
        color: rgb(66, 66, 66) !important;
    }
}

.color-more-gray,
.color-more-gray * {
    color: rgb(100, 100, 100) !important;
}

.color-darker-gray,
.color-darker-gray * {
    color: rgb(52, 52, 52) !important;
}

@media (prefers-color-scheme: dark) {

    .color-darker-gray,
    .color-darker-gray * {
        color: rgb(200, 200, 200) !important;
    }
}

.f10px {
    font-size: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.col {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.no-shadow {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 0 !important;
}

.all-margins * {
    margin: .5rem;
}

.flex.two-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.single {
    padding-bottom: 2rem;
}

p.larger {
    font-size: 1.3rem !important;
}

p.smaller {
    font-size: .75rem !important;
}

p.color-filled {
    color: #000000;
    font-size: 1.1rem;
    padding: 0 2rem;
}

.flex.two-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    .image {
        min-width: 50%;
        max-width: 300px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            user-select: none;
            -webkit-user-drag: none;
            max-width: 100%;
        }
    }

    .description {
        min-width: 45%;
        transform: translateY(-2rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}

.donation-section {
    background-image: url('/img/designs/strings/light.full-hd-pc.2x.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;

    &,
    *:not(.more) {
        color: white !important;
    }
}

@media (prefers-color-scheme: dark) {

    .donation-section {
        background-image: url('/img/designs/strings/dark.full-hd-pc.2x.webp');
    }

    @media (max-width: 600px) {
        .donation-section {
            background-image: url('/img/designs/strings/dark.mobile.2x.webp');
        }
    }
}

@media (prefers-color-scheme: light) {

    .donation-section {
        background-image: url('/img/designs/strings/light.full-hd-pc.2x.webp');
    }

    @media (max-width: 600px) {
        .donation-section {
            background-image: url('/img/designs/strings/light.mobile.2x.webp');
        }
    }
}


.color-black {
    color: black !important;
}

.left {
    text-align: left !important;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: max-content;
}

.footer .cols {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;

    color: var(--user-preferred-gray-highlight);

    .col {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 1rem 0 1rem;

        a {
            color: var(--user-preferred-gray-underlay) !important;
            text-decoration: none;
            margin-bottom: .8em;
        }

        font.footer-heading {
            font-weight: 600;
            margin-bottom: .8em;
            font-size: 16px;
            width: 100%;

            text-align: left;

            color: var(--user-preferred-gray-highlight) !important;

            a {
                color: var(--user-preferred-gray-highlight) !important;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 630px) {

    .click-holder {
        position: absolute;
        width: 100%;
        height: 48px;
        bottom: 0;
    }

    .footer>.rows>.cols,
    .footer>.rows>.cols>.col {
        width: 100%;
        user-select: none;
    }

    .footer .collapsed {
        height: 24px;
    }

    .footer>.rows>.cols>.col {
        transition: .8s;
        position: relative;
        overflow: hidden;
        --padding: 20px;
        padding: var(--padding) 0;

        font {
            padding-left: 10px;
            font-size: 24px;
        }

        &>a {
            pointer-events: none;
            padding-left: var(--padding);
            font-size: 20px;
        }
    }

    .footer>.rows>.cols>.col.show {
        height: calc(var(--height) - 24px) !important;

        &::after {
            transform: rotate(180deg);
        }

        .click-holder {
            height: 24px;
        }

        * {
            pointer-events: all;
        }
    }

    .footer>.rows>.cols>.col::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - (var(--padding) * 2));
        height: 1px;
        background: var(--user-preferred-gray-underlay);
    }

    .footer>.rows>.cols>.col::after {
        transition: .5s;
        content: '▼';
        position: absolute;
        bottom: 0;
        right: calc((var(--padding)*2) + 24px);
        font-size: 24px;
        color: var(--user-preferred-gray-highlight);
    }

}

.app-right {
    user-select: none;

    * {
        user-select: text;
        -webkit-user-drag: none;
    }
}

*:not(.prettyprint)>.tag {
    user-select: none;
    -webkit-user-select: none;
    background: #000000;
    padding: .2rem .5rem;
    border-radius: 27px;
    margin: .5rem;
    font-size: .8rem;
    color: #ffffff !important;
    font-weight: 400;

    &.red {
        background: #ff3b30;
    }
}

.tag::selection {
    background: #56a5ff64;
    color: #ffffff;
}

font.clear {
    font-size: 1.8rem;
    color: rgb(82, 82, 82);
    max-width: 90%;
    font-weight: 400;
    margin: auto auto;
    text-align: center;
}

a[href="/"] {
    text-decoration: none;
}

#copyright>p {
    max-width: 85vw;
    margin: 0 auto;
}

.card {
    background: #ffffff;
    padding: 1.5rem 1rem;
    border-radius: 17px;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    .head {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 8em;
            border-radius: 50%;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    .logo {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 8em;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    .person {
        width: 50%;
        height: 100%;
        margin-left: 5%;

        * {
            text-align: left;
            padding: 0;
            margin: 0;
        }
    }

    .app {
        width: 50%;
        height: 100%;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        * {
            margin: .2rem;
        }
    }

    .full {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        * {
            margin: .2rem;
        }

    }
}

p.far {
    margin: .35rem;

    * {
        margin: .5rem;
    }
}

font.p80 {
    max-width: 700px;
    width: 70%;
    color: var(--user-preferred-text);
    padding: 1rem;
    margin: 1rem;
    background: #9595950c;
    border-radius: 17px;
    font-size: 1rem;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}

font.p100 {
    max-width: 700px;
    width: 80%;
    color: rgb(0, 0, 0);
    padding: 2rem;
    margin: 1rem;
    background: #ffffffd3;
    border-radius: 17px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.no-margin {
    margin: 0 !important;
}

.half {
    width: calc(50% - 2rem);
    padding: 2rem;
}

.half-in-col {
    width: calc(50%);
}

noscript {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lar-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid #5f5f5f2b;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 450px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;

    &.color-white {
        color: white !important;

        * {
            color: white !important;
        }

        & a>button {
            background: rgba(138, 138, 138, 0.474) !important;
            color: rgb(255, 255, 255) !important;
        }
    }

    .full_under {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        background-image: var(--background-l);

        &.cover,
        &.cover::before {
            background-size: cover;
        }

        &.contain,
        &.contain::before {
            background-size: contain;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(17px) brightness(1.05);
            -webkit-filter: blur(17px) brightness(1.05);

            background-image: var(--background-l);
        }
    }

    .detail {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 1rem;

        img {
            width: 3rem;
        }

        * {
            margin: .5rem;
        }

        font {
            font-size: 1.2rem;
            font-weight: 500;
        }

        a>button {
            font-size: .8rem;
            padding: .3rem .9rem;
            font-weight: 700;
            transform: translateY(.1rem);
        }
    }

    .lar-card-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .text {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .thinner {
        font-weight: 500;
    }
}

.mid-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    width: 80%;
    max-width: 500px;
    min-height: 10rem;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background-image: var(--background-l);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &.color-white {
        color: white;

        & a>button {
            background: rgba(138, 138, 138, 0.474);
            color: rgb(255, 255, 255);
        }
    }

    &.color-black {
        color: black;

        & a>button {
            background: rgba(138, 138, 138, 0.474);
            color: rgb(255, 255, 255);
        }
    }

    .detail {
        position: absolute;
        bottom: 0;
        padding: 1.1rem;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        * {
            margin: .5rem;
        }

        font {
            font-size: 1rem;
            font-weight: 500;
            text-align: left;
        }

        a>button {
            font-size: .8rem;
            padding: .3rem .9rem;
            font-weight: 700;
            transform: translateY(.1rem);
            float: right;
        }
    }

    img[alt="hidden"] {
        opacity: 0;
    }

    .icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5rem;
    }

    h2 {
        position: absolute;
        top: 30%;
        left: 50%;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;
        transform: translate(-50%, -50%);
    }

    .trsl {
        background: rgba(138, 138, 138, 0.474) !important;
        color: rgb(255, 255, 255) !important;
    }

    .mid-card-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.fit {
    height: fit-content !important;
    width: fit-content !important;
}

.up-down-sep {
    margin-bottom: 10rem;

    &.down {
        transform: translateY(5rem);
    }

    * {
        max-width: 250px;
    }
}

.h-full {
    height: 100%;
}

.h-vp {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.w-vp {
    width: 100vw;
}

.w400 {
    font-weight: 400 !important;
}

.w500 {
    font-weight: 500 !important;
}

.w600 {
    font-weight: 600 !important;
}

.w700 {
    font-weight: 700 !important;
}

.w800 {
    font-weight: 800 !important;
}

.w900 {
    font-weight: 900 !important;
}

.half {
    width: 50%;
}

.W40P {
    width: 40% !important;
}

.W50P {
    width: 50% !important;
}

.W60P {
    width: 60% !important;
}

.W70P {
    width: 70% !important;
}

.W80P {
    width: 80% !important;
}

.dym-size {
    h2 {
        font-size: min(8vh, 9vw);
    }

    p {
        font-size: min(3vh, 4vw);
    }

    &.dym-small {
        h2 {
            font-size: min(7.5vh, 8.5vw);
        }

        p {
            font-size: min(2.5vh, 3.5vw);
        }
    }
}

.full-vw {
    width: 100vw;
}

.full {
    position: relative;
    width: 100%;
    overflow: hidden;

    *:not(img) {
        z-index: 2;
        position: relative;
    }

    .right-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

    button {
        margin-top: 1rem;
        font-size: .9rem;
        padding: .8rem 1.2rem;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        background: black !important;
        color: white !important;
        text-decoration: none;
        transition: .3s;
        user-select: none;
        -webkit-user-drag: none;
    }
}

@media (prefers-color-scheme: dark) {
    .invert {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
}

.iOS-bottom-share {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--user-preferred-background);
    background: var(--user-preferred-text);
    height: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        margin: 0;
        padding: 0;
    }
}

.pc-top {
    position: fixed;
    top: 0;
    left: 60%;
    right: 0;
    height: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        margin: 0;
        padding: 0;
    }
}

font>a {
    display: flex;
    gap: .5rem;
    margin-left: .5rem;
    color: white;
}

.gap {
    gap: 1rem;
}

img.logo {
    max-height: 30px;
    max-width: 30px;
    transform: translateY(.3rem);
}

.hidden {
    display: none !important;
}

.color-transl-gray,
.color-transl-gray * {
    color: rgba(0, 0, 0, 0.1);
}

.color-text {
    color: var(--user-preferred-text);
}

.serif {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

.monospace {
    font-family: 'SF Mono', monospace;
}

.pc-50pc {
    width: 50%;
}

@media (max-width: 470px) {
    .pc-50pc {
        width: 100%;
    }
}

img.dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    img.light {
        display: none;
    }

    img.dark {
        display: block;
    }
}

.blur-bg {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
}

span.space {
    margin: .1em;
}

.equal-start {
    align-items: start;
}

.equal-center {
    align-items: center;
}

.equal-end {
    align-items: end;
}

.nav-insert {
    height: 60px;
}

.nav-bar {
    color: var(--user-preferred-text);
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    height: 60px;
    display: flex;
    border-bottom: 1px solid transparent;

    &,
    * {
        outline: none;
        transition: .4s;
    }

    .hide-when-scroll {
        font-size: .75rem;
        max-height: 60px;
        transition: .1s;

        h1 {
            font-weight: 500;
        }
    }
}

.show-on-dark-mode {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .show-on-dark-mode {
        display: block;
    }

    .show-on-light-mode {
        display: none;
    }
}

.nav-bar>.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar .logo img {
    height: 50px;
    margin-left: 30px;
    margin-top: 5px;
}

.nav-bar.scrolled {
    height: 55px;
    border-bottom: 1px solid var(--border-color);
    transition: border-bottom .5s;
    backdrop-filter: blur(17px) saturate(110%);
    -webkit-backdrop-filter: blur(17px) saturate(110%);
    /* Rectangle 42 */

    .hide-when-scroll {
        opacity: 0;
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .nav-bar.scrolled {

        height: 45px;

        .logo img {
            height: 40px;
            margin-left: 30px;
            margin-top: 2.5px;
        }
    }
}


.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    pointer-events: none;
    padding: 0;
    border: 0;
}

.sectional {
    padding: 3rem 0;
    min-width: 80%;
    border-radius: 21px;
    margin: 2rem;
    background: var(--user-preferred-diff-background);
}

img.rounded {
    border-radius: 11px;
}

span.h1 {
    font-size: 3rem;
    font-weight: 700;
}