@font-face {
    font-family: 'Noto Sans';
    src: url('../res/font/NotoSans.otf');
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

*{
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    -webkit-user-drag: none;
}
hr{
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin: 40px 0;
}
::selection{
    background: #f1592a;
    color: #fff;
}

::-moz-selection{
    background: #f1592a;
    color: #fff;
}

::-webkit-selection{
    background: #f1592a;
    color: #fff;
}

br{
    user-select: none;
}

button{
    user-select: none;
    padding: 20px 30px;
    font-size: 26px;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #f1592a;
    border: 2px solid #f1592a;
    color: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1592a;
}

#space{
    height: 100px;
}

h1{
    font-size: 50px;
}

div{
    width: 90%;
    margin: 0 auto;
}

p{
    margin: 0 20px;
    font-size: 20px;
}

p1{
    margin: 0 20px;
    font-size: 20px;
}

.webImage{
    width: 80vw;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: #f1592a 0px 0px 10px;
    margin: 20px;
}