.pln { color: #000 }

@media screen {
    .str { color: #080 }
    .kwd { color: #008 }
    .com { color: #800 }
    .typ { color: #606 }
    .lit { color: #066 }
    .clo, .opn, .pun { color: #660 }
    .tag { color: #008 }
    .atn { color: #606 }
    .atv { color: #080 }
    .dec, .var { color: #606 }
    .fun { color: red }
}

@media print, projection {
    .kwd, .tag, .typ { font-weight: 700 }
    .str { color: #060 }
    .kwd { color: #006 }
    .com { color: #600; font-style: italic }
    .typ { color: #404 }
    .lit { color: #044 }
    .clo, .opn, .pun { color: #440 }
    .tag { color: #006 }
    .atn { color: #404 }
    .atv { color: #060 }
}

pre.prettyprint,
code.prettyprint,
div[data-type="code-block"].prettyprint {
    padding: 2px;
    border: 1px solid #888;
    background-color: #000;
    border-radius: 8px;
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;
}

/* Line numbers */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none }
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #eee }

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str, div[data-type="code-block"] .str { color: #65B042 } /* string */
pre .kwd, code .kwd, div[data-type="code-block"] .kwd { color: #E28964 } /* keyword */
pre .com, code .com, div[data-type="code-block"] .com { color: #AEAEAE; font-style: italic } /* comment */
pre .typ, code .typ, div[data-type="code-block"] .typ { color: #3289fb } /* type */
pre .lit, code .lit, div[data-type="code-block"] .lit { color: #3387CC } /* literal */
pre .pun, code .pun, div[data-type="code-block"] .pun { color: #636363 } /* punctuation */
pre .pln, code .pln, div[data-type="code-block"] .pln { color: #636363 } /* plaintext */
pre .tag, code .tag, div[data-type="code-block"] .tag { color: #3289fb; font-weight: bolder } /* tag */
pre .atn, code .atn, div[data-type="code-block"] .atn { color: #817910 } /* attribute name */
pre .atv, code .atv, div[data-type="code-block"] .atv { color: #65B042 } /* attribute value */
pre .dec, code .dec, div[data-type="code-block"] .dec { color: #3387CC } /* decimal */

@media (prefers-color-scheme: dark) {
    pre .str, code .str, div[data-type="code-block"] .str { color: #65B042 }
    pre .kwd, code .kwd, div[data-type="code-block"] .kwd { color: #E28964 }
    pre .com, code .com, div[data-type="code-block"] .com { color: #AEAEAE; font-style: italic }
    pre .typ, code .typ, div[data-type="code-block"] .typ { color: #89bdff }
    pre .lit, code .lit, div[data-type="code-block"] .lit { color: #3387CC }
    pre .pun, code .pun, div[data-type="code-block"] .pun { color: #b8acac }
    pre .pln, code .pln, div[data-type="code-block"] .pln { color: #399df4 }
    pre .tag, code .tag, div[data-type="code-block"] .tag { color: #89bdff; font-weight: bolder }
    pre .atn, code .atn, div[data-type="code-block"] .atn { color: #bdb76b }
    pre .atv, code .atv, div[data-type="code-block"] .atv { color: #65B042 }
    pre .dec, code .dec, div[data-type="code-block"] .dec { color: #3387CC }
}

@media print {
    pre .str, code .str, div[data-type="code-block"] .str { color: #060 }
    pre .kwd, code .kwd, div[data-type="code-block"] .kwd { color: #006; font-weight: bold }
    pre .com, code .com, div[data-type="code-block"] .com { color: #600; font-style: italic }
    pre .typ, code .typ, div[data-type="code-block"] .typ { color: #404; font-weight: bold }
    pre .lit, code .lit, div[data-type="code-block"] .lit { color: #044 }
    pre .pun, code .pun, div[data-type="code-block"] .pun { color: #440 }
    pre .pln, code .pln, div[data-type="code-block"] .pln { color: #000 }
    pre .tag, code .tag, div[data-type="code-block"] .tag { color: #006; font-weight: bold }
    pre .atn, code .atn, div[data-type="code-block"] .atn { color: #404 }
    pre .atv, code .atv, div[data-type="code-block"] .atv { color: #060 }
}
